:global {
  html,
  body {
    margin: 0 auto;
    height: 100%;
  }

  .page-container {
    width: 100%;
    height: 100%;
  }

  .page-wrapper {
    margin: 0 auto;
    width: 70%;
    height: 100%;
    max-width: 1200px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr minmax(400px, auto) 1fr;
    justify-items: center;
  }

  .page-header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    align-self: start;

    .header-container {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: 1fr;
      align-items: center;

      .header-logo {
        grid-column: 1;
        grid-row: 1;
        justify-self: start;
      }

      .header-nav {
        grid-column: 2;
        grid-row: 1;
        justify-self: end;
      }
    }
  }

  .page-main {
    grid-column: 1;
    grid-row: 2;
  }

  .page-aside {
    grid-column: 2;
    grid-row: 2;
  }

  .page-footer {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 3;
    align-self: end;
  }

  @media only screen and (min-width: 1400px) {
    html {
      font-size: 18px;
    }
  }

  @media only screen and (max-width: 1400px) {
    html {
      font-size: 16px;
    }
  }

  @media only screen and (min-width: 1200px) {
    .header-nav__list {
      align-self: center;
    }
  }

  @media only screen and (max-width: 1200px) {
    .header-nav {
      position: relative;
    }

    .nav_toggle:checked ~ {
      & .header-nav__list {
        background: rgba(16, 18, 30, 0.8);

        display: grid;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 2;
        justify-self: end;

        position: absolute;

        a {
          width: 12rem;
          text-align: right;
        }
      }

      & .burger_menu {
        background: rgba(16, 18, 30, 0.8);
      }
    }

    .burger_menu {
      padding: 0.5rem;

      grid-column: 2;
      grid-row: 1;
      justify-self: end;
      display: flex;
      align-items: center;
    }

    .header-nav__list {
      display: none;
    }

    .header-nav__marked-mark {
      display: none;
    }
  }

  @media only screen and (max-width: 900px) {
    html {
      font-size: 12px;

      .page-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
      }

      .page-header {
        grid-column: 1;
        grid-row: 1;
      }

      .page-main {
        grid-column: 1;
        grid-row: 2;
      }

      .page-aside {
        grid-column: 1;
        grid-row: 3;
      }
      .page-footer {
        grid-column: 1;
        grid-row: 4;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    html {
      font-size: 10px;
    }

    .container__content_body {
      font-size: 8px;
    }
  }
}
