:global {
  /* ---------- Global layout settings ---------- */
  html,
  body {
    margin: 0;
    height: 100%;
  }

  .page-container {
    height: 100%;
  }

  .page-wrapper {
    height: 100%;
    margin: 0 auto;
    width: 80%;
    max-width: 2000px;
  }

  /* ---------- Define mixins for each breakpoint ---------- */
  @mixin small {
    @media (max-width: 600px) {
      @content;
    }
  }

  @mixin medium {
    @media (min-width: 600px) {
      @content;
    }
  }

  @mixin large {
    @media (min-width: 1200px) {
      @content;
    }
  }

  @mixin huge {
    @media (min-width: 1400px) {
      @content;
    }
  }

  /* ---------- Define font sizes for each breakpoint ---------- */
  @include small {
    html {
      font-size: 12px;
    }
  }

  @include medium {
    html {
      font-size: 14px;
    }
  }

  @include large {
    html {
      font-size: 16px;
    }
  }

  @include huge {
    html {
      font-size: 18px;
    }
  }

  /* ---------- Header layout ---------- */
  .header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: end;

    .header__logo {
      grid-column: 1;
    }

    @mixin hamburger-menu {
      .nav__icon {
        display: block;
      }

      .nav__menu {
        display: none;
      }
      .nav.toggled {
        & .nav__menu {
          background: rgba(0, 0, 0, 0.5);

          position: absolute;
          left: 0;
          right: 0;
          top: $height__header;
        }
      }

      .nav.toggled *:not(.header__logo):not(.nav__icon) {
        display: block;
        margin: 0;
      }
    }

    @include small {
      @include hamburger-menu;
    }

    @include medium {
      @include hamburger-menu;
    }

    @include large {
      @include hamburger-menu;
    }

    @include huge {
      .nav__icon {
        grid-column: 2;
        display: none;
      }

      .nav {
        grid-column: 2;

        &__menu {
          display: block;
          &-item--marked {
            position: relative;
          }

          &-item--mark {
            position: absolute;
            top: -0.9rem;
            left: 0.5rem;
          }
        }
      }
    }
  }

  /* ---------- Footer layout ---------- */
  .footer {
    @include small {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @include medium {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;

      $menuItems: "menuItem1", "menuItem2", "menuItem3", "menuItem4";
      $columnIndexes: 1 1 2 2;
      $rowIndexes: 1 2 1 2;

      @for $i from 1 to length($menuItems) + 1 {
        .#{nth($menuItems, $i)} {
          grid-column: #{nth($columnIndexes, $i)};
          grid-row: #{nth($rowIndexes, $i)};
        }
      }
    }

    @include large {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
