:global {
  @mixin flip-horizontal {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  .page-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../../assets/background.jpg");
    background-size: cover;
    background-position: center;

    @include flip-horizontal();
  }

  .page-wrapper {
    @include flip-horizontal();
  }
}
